:root {
    --color-main-bg: #f8f9fa;
    --color-hero-bg: #1b72e8;
    --color-sidebar-bg: #051e34;
    --color-green-bg: #198754;
    --color-yellow-bg: #ffc107;
    --color-red-bg: #dc3545;
    --color-bell-bg: #ff8f00;
    --color-badge-hero: #165bba;
}

/* reset */
ul{
    list-style: none;
    padding: 0;
}

/* general */
.nf-debug {
    border: 1px solid red;
}

.body{
    font-family: "Roboto", sans-serif;
}
/* nav */
nav{
    height: 60px;
}

#logo-nav-small{
    width: 50px;
}

.log, .icon-nav{
    width: 200px;
    height: 100%;
}

.disp-no{
    display: none;
}

nav button{
    border: none;
    background: transparent;
}

/* wrapper */
#wrapper{

}
/* sidebar */
#sidebar {
    width: 120px;
    height: calc(100% - 60px);
    margin-top: 60px;
    padding-top: 20px;
    background-color: var(--color-sidebar-bg);
    background-image: url('../img/sidebar-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#sidebar ul li:hover{
    background-color: grey;
    cursor: pointer;
}

.side-bot:hover{
    background-color: grey;
    cursor: pointer;
}

/* main */
main {
    padding-top: 60px;
    width: calc(100% - 120px);
}
header{
    
    background-color: var(--color-hero-bg);
}

header h3{
    font-weight: 300;
}

.nf-badge{
    background-color: var(--color-badge-hero);
    border-radius: 20px;
    
}

.nf-badge:hover{
    cursor: pointer;
    background-color:  #1150a8;
}
/* card Prossime classi */
.row-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.data-w{
    min-width: 105px;
}

@media screen and (max-width: 768px){
    .logo-nav{
        display: none;
    }

    .icon-nav>*:not(:last-child){
        display: none;
    }
    .log, .icon-nav{
        width: auto;
    }

    .disp-no{
        display: block;
    }
    #sidebar{
        width: 50px;
    }
    #sidebar span{
        display: none;
    }
    main{
        /* width: calc(100% - 50px); */
        width: 100%;
    }
    .badge-none{
        display: none;
    }

}
@media screen and (max-width: 576px){
    #content table tr th:nth-child(2),
    #content table tr th:nth-child(3)
    {
        display: none;
    }

    #content table tr td:nth-child(2),
    #content table tr td:nth-child(3)
    {
        display: none;
    }
    header>div{
        flex-direction: column;
    }
    .head-left{
        order: 1;
    }

    .head-center{
        order: 2;
    }

    .head-right{
        order: 0;
    }
}